{% include "phones/header.html" %}
<br><br><br>
<h1>Список телефонов</h1>
<button><a href="/create_phone/">Добавить</a></button>
<div class="row justify-content-between d-flex">
  {% for i in phone %}
  <div class="col-sm-3 mb-3">
    <div class="card">
      <img src="{{i.image2}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.price}}</p>
        <p class="card-text">{{i.discount}}</p>
        <a href="/phone_detail/{{i.id}}/" class="btn btn-primary">Подробная информация</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include "phones/footer.html" %}
